{% extends 'base.html.twig' %}

{% block title %}
<<<<<<< HEAD
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
=======
{{ parent() }} | Accueil
{% endblock %}

{% block body %}
<h1>Bienvenue</h1>
>>>>>>> 844b33d3d8bb1bd37542c6b5143ac59a0c7f4ec1
{% endblock %}
