{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>

    {{ parent() }} | Accueil | Pour le moment rien à afficher, revenez plus tard.
    
{% endblock %}

