{% extends 'base.html.twig' %}

{% block title %}Hello PersonnaliteDetailsController!{% endblock %}

{% block body %}
	{% include 'navbar_candidat/index.html.twig' %}
<style>
    
</style>

<div class="container text-center">

	<h2>{{ personnalite.categorie }}</h2>
	<h1>{{ personnalite.nom }}</h1>
	<h2 class="mb-5">{{ personnalite.reference }}</h2>

	<p>{{ personnalite.description }}</p>

</div>
{% endblock %}
