body{
    font-family: Arial, sans-serif;
}

/* ====== HEADER ======== */

.banner_part {
    height: 800px;
    position: relative;
    overflow: hidden;
    background-image: url(../image/bg_img.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;

}
.banner_text_iner {
    align-items: center;
    text-align: center;
    color: white;
    margin: auto;

}
h1{
    font-weight: bold;
    margin-top: 20px;

}
h2{
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}
hr{
    width: 40%;
    border: #073b53 1px solid;
}
.paraIntro{
    margin-left: 20px;
}
.mt-4{
    margin-top: 200px !important;
}
.inscription {
    border-radius: 30px;
    background-color: #57d0fd;
    border: 1px solid transparent;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}
.connexion {
    border-radius: 30px;
    background-color: white;
    border: 1px solid transparent;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}

/* ====== MAIN ======== */

.card{
    border-top: #a2ddf7 9px solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.03);
}
.recruteurCard{
    border-top: #b13f9a 9px solid;
}

.card-columns{
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
}
.img-card-candi{
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 3px;
    border: 2px #a2ddf7 solid;
}
.img-card-recru{
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 3px;
    border: 2px #b13f9a solid;
}
.row{
    justify-content: center;
}
h5{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0;


}
h3{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: #a2ddf7;
}
.col-lg-6{
    text-align: center;
}
.spanCard{
    font-size: 0.8rem;
    display: block;
    margin-bottom: 10px;
    color: #929292;
    text-align: center;
}
.paraCard{
    color: #929292;
}
.iconPlus{
    width: 30px;
    height: 30px;
    bottom: 0%;
    right: 0%;
    position: absolute;
}
.iconC{
    display: inline-block;
}
.recruTitle{
   color: #b13f9a;
}

/* ====== FOOTER ======== */

.footerHR{
    margin-top: 50px;
}
.footer{
    margin-top: 50px;
    background-color: #233148;
    height: 200px;
    text-align: center;
}
.logoFooter{
    flex-wrap: wrap;
    display: inline-block;
    width: 200px;
    margin-top: 20px;
    border-right: #ffffff 1px solid;
    margin-left: 20px;

}
.linkCard {
    color: #073b53;

}
.linkCard:hover{
    color: #073b53;
}
.imageFooter1 {
    width: 177px;
    height: 111px;
}
.imageFooter{
    padding-left: 20px;
}
.reseauxS{
    margin-top: 20px;
    padding-left: 45px;

}
ul{
    padding-right: 30px;
    color: white;
    display: inline-block;
}
ul a{
    color: white;
}
li a:hover{
    color: #ffb81d;
}
li{
    padding-bottom: 15px;
    border-right: #ffffff 1px solid;
    padding-right: 40px;
    list-style: none;

}
.lastLi li {
    border-right: none;
}

/* ====== MEDIA QUERIES ======== */


@media screen and (max-width: 1066px) {
footer{
   display: flex;
    background-color: #233148;
    border: #2F611C 2px solid;
    height: 440px;

}
.logoFooter{
    flex-wrap: wrap;
    margin-top: 5px;
    display: block;
}
.footerHR{
    display: none;

}
li{
    border-right: none;
}

.logoFooter{
    border-right: none;
    margin-bottom: 20px;
}
}
@media screen and (max-width: 866px) {
footer{
    height: 450px;
    }
}

@media screen and (max-width: 866px) {
    footer{
        height: 650px;
    }

}

@media screen and (max-width: 492px) {
    footer{
        height: 880px;
    }
    .logoHeader{
        max-width: 80%;
    }
}

/* ======= Couleurs =========

Bleu candidats : #a2ddf7
Violet recruteur : #b13f9a
Bleu foncé titre : #073b53

*/
