body{
    font-family: Arial, sans-serif;
}

.col-lg-6{
    text-align: center;
    margin: auto;
}

/* ====== FOOTER ======== */

.footerHR{
    margin-top: 50px;
}
.footer{
    margin-top: 50px;
    background-color: #233148;
    height: 200px;
    text-align: center;
}
.logoFooter{
    flex-wrap: wrap;
    display: inline-block;
    width: 200px;
    margin-top: 20px;
    border-right: #ffffff 1px solid;
    margin-left: 20px;

}
/*.linkCard {
    color: #073b53;

}
.linkCard:hover{
    color: #073b53;
}*/
.imageFooter1 {
    width: 177px;
    height: 111px;
}
.imageFooter{
    padding-left: 20px;
}
.reseauxS{
    margin-top: 20px;
    padding-left: 45px;

}
ul{
    padding-right: 30px;
    color: white;
    display: inline-block;
}
ul a{
    color: white;
}
li a:hover{
    color: #ffb81d;
}
li{
    padding-bottom: 15px;
    border-right: #ffffff 1px solid;
    padding-right: 40px;
    list-style: none;

}
.lastLi li {
    border-right: none;
}

/* ====== MEDIA QUERIES ======== */


@media screen and (max-width: 1066px) {
footer{
   display: flex;
    background-color: #233148;
    height: 440px;

}
.logoFooter{
    flex-wrap: wrap;
    margin-top: 5px;
    display: block;
}
.footerHR{
    display: none;

}
li{
    border-right: none;
}

.logoFooter{
    border-right: none;
    margin-bottom: 20px;
}
}
@media screen and (max-width: 866px) {
footer{
    height: 450px;
    }
}


@media screen and (max-width: 492px) {
    footer{
        height: 880px;
    }
    .logoHeader{
        max-width: 80%;
    }
}

/* ======= Couleurs =========

Bleu candidats : #a2ddf7
Violet recruteur : #b13f9a
Bleu foncé titre : #073b53

*/
