<style>

	.divFooter{
		background-image: rgba(0,0,0,0.7), url("../../public/image/Attractiv_work_logo.jpg");
	}

	.divTitreFooter{
		color: #a8a8a8;
	}

	.listSocial{
		display: inline-block;
	}

	.citation{
		font-size: 2rem;
	}

	.mtDiv{
		margin-top: 100px;
	}
    
</style>

<div class="divFooter mtDiv">
	
	<div class="divTitreFooter text-center">
		<p class="citation">Work at first sight</p>
		<ul class="p-0">
			<li class="nav-item nav-link listSocial"><i class="fab fa-twitter-square fa-2x"></i></li>
			<li class="nav-item nav-link listSocial"><i class="fab fa-facebook-square fa-2x"></i></li>
			<li class="nav-item nav-link listSocial"><i class="fab fa-google-plus-square fa-2x"></i></li>
			<li class="nav-item nav-link listSocial"><i class="fas fa-share-alt-square fa-2x"></i></li>
		</ul>
	</div>

	<div>
		<ul class="d-flex justify-content-around mtDiv">
			<li class="nav-item nav-link listSocial"><a href="#">Contact</a></li>
			<li class="nav-item nav-link listSocial"><a href="#">Copyright</a></li>
			<li class="nav-item nav-link listSocial"><a href="#">Privacy Policy</a></li>
		</ul>

		
	</div>

</div>

{#rgb(1, 60, 82)#}


