<style>

	.divFooter{
		background-image: rgba(0,0,0,0.7), url("../../public/image/Attractiv_work_logo.jpg");
	}

	.divTitreFooter{
		color: #a8a8a8;
	}
    
</style>

<div class="divFooter">
	
	<div class="divTitreFooter">
		<p>Work at first sight.</p>
		<ul>
			<li class="nav-item nav-link"><i class="fab fa-twitter-square fa-2x"></i></li>
			<li class="nav-item nav-link"><i class="fab fa-facebook-square fa-2x"></i></li>
			<li class="nav-item nav-link"><i class="fab fa-google-plus-square fa-2x"></i></li>
			<li class="nav-item nav-link"><i class="fas fa-share-alt-square fa-2x"></i></li>
		</ul>
	</div>

	<div>
		<ul>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Copyright</a></li>
			<li><a href="#">Privacy Policy</a></li>
		</ul>

		
	</div>

</div>

{#rgb(1, 60, 82)#}


