{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeController!{% endblock %}

{% block body %}
  {% include 'backoffice/navbar.html.twig' %}
  <h1>Bonjour Administrateur</h1>
{% endblock %}
