{% extends 'base.html.twig' %}

{% block title %}Hello MembreController!{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(candidat_form) }}
        {{ form_end(candidat_form) }}
    </div>
{% endblock %}