<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Custom fonts for this theme -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Theme CSS -->
    <link href="../public/css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead bg-light text-white text-center">
    <!--    {% for recruteur in recruteurs %}    -->
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" style="border-radius: 50%;" src="../public/image/drapeau_mugiwara.jpg"
             alt="logoentreprise">
        <!--        {{ recruteur.logoEntreprise }}-->
        <!-- Masthead Heading -->
        <h1 class="masthead-heading display-3 mb-0 text-dark">Recruteur example{{ recruteur.nomEntreprise }}</h1>
        <br><br><br><br>


        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light text-black-50 mb-0">GA & WD Cie - CEO</p>

    </div>
    <!--    {% endfor %}-->
</header>

<!-- Candidat Section -->
<section class="page-section candidat" id="candidat">
    <div class="container">
        <!--        {% for membre in membres %}-->
        <!--         Candidat Section Heading -->
        <h2 class="page-section-heading text-center display-3 mb-0 text-dark">Profil des Candidats</h2>
        <br><br>
        <hr>
        <br><br><br><br>

        <!-- Portfolio Grid Items -->

        <div class="container" style="background-color: #f9f9f9;">

            <!-- cards section -->
            <div class="card-deck">
                <div class="card border-light border-light border-top" style="border-top-color: #c165ae;">
                    <img src="../public/image/sasuke.png" class="card-img-top img-responsive rounded-circle border border-danger img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card border-light border-top">
                    <img src="../public/image/luffy.jpg" class="card-img-top rounded-circle border border-danger"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card border-light border-top">
                    <img src="../public/image/eren.png" class="card-img-top rounded-circle border border-danger"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Candidat {{ membre.nom }} {{ membre.prenom }}, Ville {{ membre.ville }},
                            {{ membre.pays }}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                        <p><a class="btn btn-outline-dark" href="#" role="button">En savoir plus &raquo;</a></p>
                    </div>
                </div>
            </div>
            <!--            End cards section-->

            <hr>
            <!--            {% endfor %}  {% endfor %}-->
        </div> <!-- /container -->


        <!-- Footer -->
        <footer>
            
        </footer>
        <!-- Footer fin -->


        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/freelancer.min.js"></script>

</body>

</html>
