{% extends 'base.html.twig' %}

{% block title %}Hello ProfilPersoCandidatController!{% endblock %}

{% block body %}
	{% include 'navbar_candidat/index.html.twig' %}
<style>
    
</style>

<div class="container">
    

   
</div>
{% endblock %}
